<a href="https://colab.research.google.com/github/kaigitt/GoogleColab/blob/master/pandas_editor_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas exercises


1. データの状態を確認する方法について学習します。 （11問）
2. データを参照・取得する方法について学習します。 （13問）
3. データを集計・加工する方法について学習します。 (15問)
4. テキストデータを加工する方法について学習します。 (9問)
5. データの読み込み・書き出しについて学習します。（2問）

### 0. 事前準備

In [3]:
# こちらのセルを実行してください。
import pandas as pd
import numpy as np

### 1. データの状態を確認する方法について学習します。（8問）

In [4]:
# こちらのセルを実行してください。
data = pd.DataFrame({'name': ['A', 'B', 'C', 'D'], '数学': [80, 15, 90, 50], '英語': [80, 70, 50, 65],
                    '国語': [ 90, 60, 60,  60]})

#### 1.1 「data変数のデータ形式を表示してください。」

In [5]:
type(data)

pandas.core.frame.DataFrame

#### 1.2 「pandasでSeries型データを作成して、データ形式を確認してください。※Seriesの中身は何でも良いです。」

In [7]:
type(pd.Series(['コロン', 'コロン２']))

pandas.core.series.Series

#### 1.3 「pandasでDataFrame型データを作成して、データ形式を確認してください。※DataFrameの中身は何でも良いです。」

In [8]:
type(pd.DataFrame(['あ', 1],['い', 2]))

pandas.core.frame.DataFrame

#### 1.4 「data変数の行数と列数を表示してください」

In [9]:
data.shape

(4, 4)

#### 1.5 「data変数の上から2行表示してください。」

In [7]:
data.head(2)

  name  数学  英語  国語
0    A  80  80  90
1    B  15  70  60

#### 1.6 「data変数の下から3行表示してください。」

In [8]:
data.tail(3)

  name  数学  英語  国語
1    B  15  70  60
2    C  90  50  60
3    D  50  65  60

#### 1.7 「data変数のカラムを表示してください。」

In [12]:
data.columns

Index(['name', '数学', '英語', '国語'], dtype='object')

#### 1.8 「data変数のインデックスを表示してください。」

### 2. データを参照・取得する方法について学習します。（13問）

In [23]:
# こちらのセルを実行してください。
data = pd.DataFrame({'name': ['A', 'B', 'C', 'D'], '数学': [80, 15, 90, 50], '英語': [80, 70, 50, 65],
                    '国語': [ 90, 60, 60,  60]})
data

  name  数学  英語  国語
0    A  80  80  90
1    B  15  70  60
2    C  90  50  60
3    D  50  65  60

#### 2.1 「data変数の上から3行のデータを表示してください。」

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

#### 2.2 「data変数の中で国語が70点以上の人を表示してください。」

In [15]:
data[data['国語'] >= 70]

  name  数学  英語  国語
0    A  80  80  90

#### 2.3 「data変数の中で数学が30点未満の人を表示してください。」

In [17]:
data[data['数学'] < 30]

  name  数学  英語  国語
1    B  15  70  60

#### 2.4 「AさんとBさんは1組、CさんとDさんは2組に所属しています。この組を一つ目のインデックス、今のインデックスを二つ目のインデックスとしてdata_classという変数に代入し、表示してください。」

In [18]:
# このセルを実行し、data_class変数のインデックスを変更してください。
data_class = data.copy()
data_class

  name  数学  英語  国語
0    A  80  80  90
1    B  15  70  60
2    C  90  50  60
3    D  50  65  60

In [38]:
data_class.index = [['１組', '１組', '２組', '２組'], data.index]
data_class

     name  数学  英語  国語
１組 0    A  80  80  90
   1    B  15  70  60
２組 2    C  90  50  60
   3    D  50  65  60

#### 2.5 「data_classを用いて1組の英語の点数を全て表示してください。」

In [40]:
###data_class['英語']['１組']
data_class.loc['1組','英語']

KeyError: ignored

#### 2.6 「data変数の中で国語が60点ピッタリの人が何人いるか表示してください。」

In [43]:
len(data[data['国語'] == 60])

3

#### 2.7 「data変数の中で数学が50点以上の人が何人いるか表示してください。」

In [45]:
len(data[data['数学'] >= 50])

3

#### 2.8 「data変数の中で国語の点数が1番高い人を表示してください。」

In [47]:
data[data['国語'] == data['国語'].max()]['name']

0    A
Name: name, dtype: object

#### 2.9 「data変数の中で全ての人の国語の点数を表示してください。」

In [51]:
data.loc[:, '国語']

0    90
1    60
2    60
3    60
Name: 国語, dtype: int64

#### 2.10 「data変数の中で全ての人の国語と数学の点数を表示してください。」

In [56]:
data[['国語','数学']]

   国語  数学
0  90  80
1  60  15
2  60  90
3  60  50

#### 2.11 「data変数の中で2行目と3行目のみ表示してください。(indexは0番目が1行目であることに注意)」

In [57]:
data[1:3]

  name  数学  英語  国語
1    B  15  70  60
2    C  90  50  60

#### 2.12 「data変数の中で2行目と3行目且つ0列目と1列目を表示してください。(indexは0番目が1行目であることに注意)」

#### 2.13 「data変数の中で数学が60点以上の人のname・英語・国語列を表示してください。」

### 3. データを集計・加工する方法について学習します。（15問）

In [ ]:
# こちらのセルを実行してください。
data_2 = pd.DataFrame({'name': ['A', 'B', 'C', 'D'], '数学': [80, 15, 90, 50], '英語': [80, 70, 50, 65],
                    '国語': [ 90, 60, 60,  60]})

e_data = pd.DataFrame({'name':['D', 'E', 'F'],'国語':[60, 30, 45],'数学':[50, 30, 50],'英語':[65, 30, 50], '理科': [np.nan, 50, 60]})

#### 3.1 「data_2の下にe_dataを連結させて、data_concatenated変数に代入して表示して下さい。」

#### 3.2 「data_concatenatedのindexを振り直してください。その際に、元のインデックスを保持する必要はありません。」

#### 3.3 「data_concatenatedの各カラムの合計値を表示して下さい。」

#### 3.4 「data_concatenatedの各行の合計値を表示して下さい。」

#### 3.5 「3.4で出した各行の合計値を「合計」という列としてdata_concatenatedに追加してください。」

#### 3.5 「data_concatenatedの英語・数学・国語の平均値を表示して下さい。」

#### 3.6 「data_concatenated変数のカラムの統計量を算出してください。」

#### 3.7 「data_concatenated変数には欠損値があり、うまく処理ができません。そこで、欠損値がある列を全て削除して表示して下さい。」

#### 3.8 「data_concatenated変数にはnameの重複があります。重複している行を削除して表示してください。」

#### 3.9 「data_concatenated変数の「合計」列は、理科の点数が混ざっている行があります。そこで、「合計」列を削除して表示してください。」

#### 3.10 「data_concatenated変数の各行の英語・数学・国語の点数の合計を「合計」列に格納してください。」

#### 3.11 「data_concatenated変数を「合計」列・「数学」列を基準として、降順にソートしてください。」

#### 3.12 「data_concatenated変数のインデックスを振り直してください。」

#### 3.13  「data_concatenatedの各行の数学・英語・国語の平均を「平均」列に格納してください。」

#### 3.14 「data_concatenated変数の各カラムに対する統計量を表示してください。」

#### 3.15 「最初のdata_2, e_dataとdata_concatenatedをそれぞれ表示して、加工した結果を見比べてください。」

### 4. テキストデータを加工する方法について学習します。 （9問）

In [ ]:
# こちらのセルを実行してください。
data_3 = pd.DataFrame({'name': ['A', 'B', 'C', 'D'],
                     '性別': ['男性', '男性', '女性', '男性'],
                     '経歴': ['学部卒', '修士卒', '学部卒', '博士卒'],
                     '特技': ['ボーリング', '野球', 'サッカー', '野球をやっていた']})

#### 4.1 「data_3を確認して下さい。」

#### 4.2 「経歴が、'学部卒'で終わる行を表示して下さい。」

#### 4.3 「性別が、'女'から始まる行を表示して下さい。」

#### 4.4 「特技が'野球'を含む行を表示して下さい。」

#### 4.5 「経歴の'卒'を削除して下さい。」

#### 4.6 「特技の'野球をやっていた'の「をやっていた」を削除して下さい。」

#### 4.7 「data_3の「経歴」列の文字列に「_大卒以上」という文字列を追加した、「経歴_枠」列をapplyメソッドによって作成してください。」

#### 4.8 「男性を1, 女性を0として性別を2値の数値データに変換し、その値を格納した「性別_数値」列を追加してください。」

#### 4.9 「4.8によって、性別データを数値として扱うことができるようになりました。そこで「性別_数値」列の合計値を出して、男性の人数を確認してください。」

### 5. データの読み込み・書き出しについて学習します。（2問）

#### 5.1 「data_3変数を「a.csv」という名前で保存してください。」

>その際に、to_csvメソッドのindex引数にFalseを指定してください。

#### 5.2「「a.csv」というファイルを読み込み、data_3aという名前の変数に格納して表示してください。」