<a href="https://colab.research.google.com/github/kaigitt/GoogleColab/blob/master/%E3%80%90%E7%A0%82%E5%B7%9D%E5%BF%AB%E6%96%97%E3%80%91%E5%A4%89%E6%95%B0_editor_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 変数 exercises


1. 変数の四則演算について学習します。（3問）
2. リストについて学習します。 (4問)
3. 辞書について学習します。　(3問)
4. タプル・セットについて学習します。　(4問)

**解答は参考例なので、コードが完全一致している必要はありません。**

## 1. 変数の四則演算について学習します。　(3問)

### 1.1 「$14+28 - 5 \times 2$の計算結果を変数に代入して、表示してください。」

In [ ]:
num = 14+28 - 5*2
print(num)

32

### 1.2 「$12$の$3$乗を$13$で割った結果の整数部分を変数に代入して、表示してください。」

In [ ]:
num = 12**3 // 13
print(num)

132

### 1.3 「$12 \times 18 +138$を$7$で割った余りを変数に代入して、表示してください。」

In [ ]:
num = (12*18 + 138) % 7
print(num)

4

##2. リストについて学習します。 (4問)

### 2.1 「list_1の中でインデックスが2の要素を変数に代入して、表示してください。」

In [ ]:
# こちらのセルを実行してください
list_1 = [3.5, '次郎', 4, 'ネコ', 13, 0.3]
word = list_1[2] 
print(word)

4

### 2.2 「list_2の中でインデックスが1から3の要素をスライスして変数に代入し、表示してください。」

In [ ]:
# こちらのセルを実行してください
list_2 = [3.5, '次郎', 4, 'ネコ', 13, 0.3]
words = list_2[1:4]
print(words)

['次郎', 4, 'ネコ']

### 2.3 「list_3の要素の『次郎』を『太郎』に変更して、変更後のlist_3を表示してください。」

In [ ]:
# こちらのセルを実行してください
list_3 = [3.5, '次郎', 4, 'ネコ', 13, 0.3]
list_3[1] = "太郎"
print(list_3)

[3.5, '太郎', 4, 'ネコ', 13, 0.3]

### 2.4 「list_4から『次郎』と『ネコ』を削除して、その後降順にソートした後のlist_4を表示してください。」

In [ ]:
# こちらのセルを実行してください
list_4 = [3.5, '次郎', 4, 'ネコ', 13, 0.3]
list_4.remove('次郎')
list_4.remove("ネコ")
list_4.sort( reverse = True)
print(list_4)

[13, 4, 3.5, 0.3]


## 3. 辞書について学習します。　(3問)

### 3.1「『太郎』『次郎』という2つのキーに対して、整数型の『18』『16』がそれぞれバリューとなる辞書を、変数に代入して表示してください。」

In [ ]:
dic = { '太郎': 18, '次郎': 16}
print(dic)

{'太郎': 18, '次郎': 16}

### 3.2 「先ほどの辞書に、『三郎』というキーに対して整数型の『12』をバリューに持つ要素を追加して表示してください。」

In [ ]:
# こちらのセルを実行してください
answer_dict = {'太郎': 18, '次郎': 16}
answer_dict['三郎'] = 12
print(answer_dict)

{'太郎': 18, '次郎': 16, '三郎': 12}

### 3.3 「先ほどの辞書は、実は名前と年齢が対応していました。それでは、『次郎』の年齢を取り出して変数に代入して表示してください。」

In [ ]:
# こちらのセルを実行してください
answer_dict = {'太郎': 18, '次郎': 16, '三郎': 12}
age = answer_dict['次郎']
print(age)

16

### 4. タプル・セットについて学習します。　(4問)

### 4.1 「tuple_1から、インデックスが3であるものを変数に代入して表示してください。」

In [ ]:
# こちらのセルを実行してください。
tuple_1 = (3, '次郎', 8, 0.3, 'イヌ')
num = tuple_1[3]
print(num)

0.3

### 4.2 「tuple_2の先頭からインデックスが3のものまでをスライスして、変数に代入して表示してください。」

In [ ]:
# こちらのセルを実行してください
tuple_2 = (3, '次郎', 8, 0.3, 'イヌ')
words = tuple_2[:4]
print(words)

(3, '次郎', 8, 0.3)

### 4.3 「tuple_3と同じ要素を持つセットを作成して、変数に代入して表示してください。」

In [ ]:
# こちらのセルを実行してください
tuple_3 = (3, '次郎', 8, 0.3, 'イヌ')
words = set()
words = tuple_3
print(words)

(3, '次郎', 8, 0.3, 'イヌ')