<a href="https://colab.research.google.com/github/kaigitt/GoogleColab/blob/master/%E6%95%99%E5%B8%AB%E3%81%82%E3%82%8A%E5%AD%A6%E7%BF%92%E3%81%AE%E6%BC%94%E7%BF%92_editor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 教師あり学習の演習

## 0. 事前準備

### 0.1 環境構築

まずは次のセルを実行してください。

In [ ]:
# こちらのセルを実行してください。
!pip install openpyxl==3.0.0

実行が完了したら、左上のメニューバーから「ランタイム」 $\rightarrow$ 「ランタイムを再起動」を押してください。

ランタイムの再起動が終わったら、次のセルを実行してください。

In [ ]:
# こちらのセルを実行してください。
import pandas as pd

今回使用するデータをダウンロードします。

次のセルを実行してください。

In [ ]:
!wget "https://us.v-cdn.net/6032257/uploads/jive_attachments/6/3/1/63186354tnemhcatta.xlsx" -O 'cycle_training.xlsx'

--2022-02-03 02:35:00--  https://us.v-cdn.net/6032257/uploads/jive_attachments/6/3/1/63186354tnemhcatta.xlsx
Resolving us.v-cdn.net (us.v-cdn.net)... 104.18.194.13, 104.18.193.13, 2606:4700::6812:c10d, ...
Connecting to us.v-cdn.net (us.v-cdn.net)|104.18.194.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62467 (61K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘cycle_training.xlsx’

cycle_training.xlsx 100%[===================>]  61.00K  --.-KB/s    in 0.02s

2022-02-03 02:35:00 (3.88 MB/s) - ‘cycle_training.xlsx’ saved [62467/62467]

これで、ダウンロードできました。次のセルを実行して、データフレームとして読み込みましょう。

In [ ]:
df_cycle = pd.read_excel('cycle_training.xlsx')
df_cycle

    Instant  Season  year     dteday  ...     atemp       hum  windspeed count
0      ID-1  Spring  2011 2011-01-01  ...  0.363625  0.805833   0.160446   985
1      ID-2  Spring  2011 2011-01-02  ...  0.353739  0.696087   0.248539   801
2      ID-3  Spring  2011 2011-01-03  ...  0.189405  0.437273   0.248309  1349
3      ID-4  Spring  2011 2011-01-04  ...  0.212122  0.590435   0.160296  1562
4      ID-5  Spring  2011 2011-01-05  ...  0.229270  0.436957   0.186900  1600
..      ...     ...   ...        ...  ...       ...       ...        ...   ...
525  ID-526  Summer  2012 2012-06-09  ...  0.648367  0.437083   0.144287  7498
526  ID-527  Summer  2012 2012-06-10  ...  0.663517  0.538333   0.133721  6598
527  ID-528  Summer  2012 2012-06-11  ...  0.659721  0.587917   0.207713  6664
528  ID-529  Summer  2012 2012-06-12  ...  0.597875  0.833333   0.214546  4972
529  ID-530  Summer  2012 2012-06-13  ...  0.611117  0.582083   0.343279  7421

[530 rows x 14 columns]

これでデータのダウンロードができました。

### 0.2 データ・演習についての説明

今回は天気や日時に関するデータから、レンタサイクルのレンタル数(df_cycleの'count'列)について予測するモデルを作っていただきます。

各列の意味は次のようになっています。
- Instant: 日時固有のID
- Season: 季節	
- year: 年
- dteday: 年月日
- mnth: 月
- holiday: 祝日か否か
- weekday: 曜日
- WorkingDay: 営業日か否か
- weathersit: 天候
- temp: 気温
- atemp: 体感気温
- hum: 湿度
- windspeed: 風速
- count: レンタル数

これらを用いて2011年のデータを学習させ、2012年のcountを予測するモデルを作成してください。

*タイタニックデータと同様に、まずはデータの確認及び可視化を行って、データの外観を理解した上で必要な前処理を実施してください。
その上で適切なモデルを作成し、精度評価を実行するという流れで行ってください。

(こちらはは自由記述課題になります。)